
{{# each url}}
    <div class="container">
        <div class="row">
            {{# each this}}
                <div class="col">
                    <!--Image In here -->
                    <img src="{{image}}" alt="image" class="img-thumbnail m-1 w-20">
                    <!--Image end-->
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}


