<form  method="post" action="/get_currency">
    <div class="form-row w-50">
        <div class="col">
            <input type="text" class="form-control" placeholder="Country" id="country_entry" name="country_entry" size="20">
            <br>
            <input type="submit" value="submit">
        </div>
        <!--<div class="col">-->
            <!--<input type="text" class="form-control" placeholder="Last name">-->
        <!--</div>-->
    </div>
</form>