
{{# each url}}
    <div class="container">
        <div class="row">
            {{# each this}}
                <div class="col">
                    <!--Image In here -->
                    <a><img src="{{this}}" alt="image" class="img-thumbnail" width="500" height="auto"></a>
                    <!--Image end-->
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}


