<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {{> bootstrap}}
</head>
<body>
    <div class="container bg-secondary" style="height: 100%">
        {{>nav}}
        {{message}}
        <br>
        {{> jumbotron}}
        <br>
        {{>images}}

    </div>
</body>
</html>